*{
margin:0;
padding:0;
font-family:Arial, Helvetica, sans-serif
}
.view{
    display: flex; flex-direction: column; width: 100vw; height: 100vh;  align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
}
.icon{
    height: 30px;width: 30px;

}

.btn{
    height: 25px; background-color: blue; color: white;
    
}

.logo{
    height:35px; width:35px; ;
}

.blue{
    color:blue;
}
.hd{
    display:flex;height: 100px; background-color:blue;
}
.back{
    background-color:rgb(238, 236, 236); ;
}
.img{
    height:50%; width:90%; margin:5%;
}
.header{
    display:flex;height: 100px; background-color:rgb(25, 25, 235);
}
