<!-- <app-login></app-login> -->
<!-- <app-login2></app-login2> -->
<!-- <app-searching></app-searching> -->
<!-- <app-people></app-people> -->
<!-- <app-user2></app-user2> -->
<!-- <app-user2></app-user2> -->
<app-redux-demo></app-redux-demo>


<!-- 
<div style="width: 50vw; height: 70vh; margin: auto;">
<div style="background-color: yellow; height: auto; padding: 20px;">

    This is Parent Component

<app-child (newItemEvent)= "addItem($event)" ></app-child><br>
<div >
    <ul>
        <li *ngFor= "let item of items">{{item}} </li>
    </ul>
</div>
</div>
<div> -->

<!-- //////IndexDb -->
<!-- 
  <div style=" width: 50vw; display: flex; flex-direction: column; margin-left: 30px; margin-top: 30px;">
    <table style="font-size: 20px;border-spacing: 10px;">
      <tr>
       <td style="width: 50px;"> BookId: </td>
       <td><input id = "bi" name = "bi" type = "number" placeholder="Enter Book Id" style="font-size: 20px;"></td>
     </tr>     
    <tr>
     <td style="width: 50px;">BookName: </td>
     <td> <input id = "name" name = "name" type = "text" placeholder="Enter Book Name" style="font-size: 20px;"></td>
    </tr>
    <tr>
      <td style="width: 50px;" > Author:</td>
      <td> <input id = "author" name = "author" type = "text" placeholder="Enter Author Name" style="font-size: 20px;"></td>
    </tr>
    <tr>
      <td style="width: 50px;">Price: </td>
      <td><input id = "price" name = "price" type = "number" placeholder="Enter Book Price" style="font-size: 20px;"></td>
    </tr>
    </table>
    <br>
    <button appIndex onclick="start()" style="width: 20%;">Add</button><br>
  <button appIndex onclick="update()" style="width: 20%;">Update</button>
  <br><br>
  <table id="output" style="border-spacing: 10px;"  >
  
        <thead>
            <tr>
                <th>Id</th>
                <th>BookName</th>
                <th>Author</th>
                <th>Price</th>
  <th colspan="2">Action</th>
                
            </tr>
        </thead>
  
        <tbody id="go" align="center">
        
  
        </tbody>
        
    </table>
  <br>
  </div> -->
<!-- <router-outlet></router-outlet> -->

  


